<table width="812">
    <tbody>
        <tr style=";height:65px" class="firstRow">
            <td width="650" colspan="13" style="border: 1px solid windowtext; background: rgb(141, 179, 226); padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:21px;font-family:   &#39;微软雅黑&#39;,sans-serif">中金汇理</span></strong>
                </p>
                <p style="text-align:center">
                    <strong><span style="font-size:21px;font-family:   &#39;微软雅黑&#39;,sans-serif">国际保理客户信息表</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:11px">
            <td width="650" colspan="13" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; background: rgb(219, 229, 241); padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:19px;font-family:&#39;微软雅黑&#39;,sans-serif">（一）基本情况（必填）</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">客户编号</span></strong>
                </p>
            </td>
            <td width="482" colspan="10" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1001A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">企业中文名称</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1002A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">国别</span></strong>
                </p>
            </td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1003A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">企业英文名称</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1004A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">企业类型</span></strong>
                </p>
            </td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1005A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">成立时间</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1006A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">统一社会信用代码</span></strong>
                </p>
            </td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1007A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">注册资本</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1008A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">注册地址</span></strong>
                </p>
            </td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1009A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">法定代表人</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1010A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">联系地址</span></strong>
                </p>
            </td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1011A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">法人证件号</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1012A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">联系人</span></strong>
                </p>
            </td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1013A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">联系人职务</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1014A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">联系电话</span></strong>
                </p>
            </td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1015A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:25px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">联系邮箱</span></strong>
                </p>
            </td>
            <td width="180" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:楷体;color:black">${A1016A}</span></strong>
                </p>
            </td>
            <td width="142" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="161" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";page-break-inside:avoid;height:191px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">企业介绍</span></strong>
                </p>
            </td>
            <td width="482" colspan="10" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:19px;font-family:楷体">${A1018A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:179px">
            <td width="168" colspan="3" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">股权架构与关联企业</span></strong>
                </p>
            </td>
            <td width="482" colspan="10" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:19px;font-family:楷体">${A1019A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:11px">
            <td width="650" colspan="13" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; background: rgb(219, 229, 241); padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:19px;font-family:&#39;微软雅黑&#39;,sans-serif">（二）生产经营情况（必填）</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="73" rowspan="4" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">前三大供应商</span></strong>
                </p>
            </td>
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">供应商名称和地址</span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">产品</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">年业务量</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">合作年限</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1020A}</span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1021A}</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1022A}</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1023A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10201A}</span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10211A}</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10221A}</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10231A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10202A}</span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10212A}</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10222A}</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10232A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="73" rowspan="4" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">前三大国外买家</span></strong>
                </p>
            </td>
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">国外买方名称与地址 &nbsp; </span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">产品</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">年业务量</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">合作年限</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1024A}</span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1025A}</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1026A}</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A1027A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10241A}</span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10251A}</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10261A}</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10271A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="175" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10242A}</span></strong>
                </p>
            </td>
            <td width="104" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10252A}</span></strong>
                </p>
            </td>
            <td width="100" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10262A}</span></strong>
                </p>
            </td>
            <td width="108" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-size:16px;font-family:   楷体;color:black">${A10272A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:11px">
            <td width="650" colspan="13" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; background: rgb(219, 229, 241); padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:19px;font-family:&#39;微软雅黑&#39;,sans-serif">（三）财务情况</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; background: transparent; padding: 0px 7px;"></td>
            <td width="125" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; background: transparent; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${year1}</span></strong>
                </p>
            </td>
            <td width="185" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${year2}</span></strong>
                </p>
            </td>
            <td width="175" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${year3}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">总资产</span></strong>
                </p>
            </td>
            <td width="125" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1028A}</span></strong>
                </p>
            </td>
            <td width="185" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1029A}</span></strong>
                </p>
            </td>
            <td width="175" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1030A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">净资产</span></strong>
                </p>
            </td>
            <td width="125" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1031A}</span></strong>
                </p>
            </td>
            <td width="185" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1032A}</span></strong>
                </p>
            </td>
            <td width="175" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1033A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">银行借款</span></strong>
                </p>
            </td>
            <td width="125" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1034A}</span></strong>
                </p>
            </td>
            <td width="185" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1035A}</span></strong>
                </p>
            </td>
            <td width="175" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1036A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">应收账款</span></strong>
                </p>
            </td>
            <td width="125" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1037A}</span></strong>
                </p>
            </td>
            <td width="185" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1038A}</span></strong>
                </p>
            </td>
            <td width="175" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1039A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">销售收入</span></strong>
                </p>
            </td>
            <td width="125" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1040A}</span></strong>
                </p>
            </td>
            <td width="185" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1041A}</span></strong>
                </p>
            </td>
            <td width="175" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1042A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:25px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">净利润</span></strong>
                </p>
            </td>
            <td width="125" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1043A}</span></strong>
                </p>
            </td>
            <td width="185" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1044A}</span></strong>
                </p>
            </td>
            <td width="175" colspan="3" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:16px;font-family:宋体">${A1045A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";height:11px">
            <td width="650" colspan="13" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; background: rgb(219, 229, 241); padding: 0px 7px;">
                <p style="text-align:center">
                    <strong><span style="font-size:19px;font-family:&#39;微软雅黑&#39;,sans-serif">（四）是否已投信用保险</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:40px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">投保历史</span></strong>
                </p>
            </td>
            <td width="183" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-size:19px;font-family:楷体">${A1046A}</span></strong>
                </p>
            </td>
            <td width="183" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">每年投保金额</span></strong>
                </p>
            </td>
            <td width="183" colspan="4" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-size:19px;font-family:楷体">${A1048A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:40px">
            <td width="102" colspan="2" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p>
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">赔付情况</span></strong>
                </p>
            </td>
            <td width="548" colspan="11" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p>
                    <strong><span style="font-size:19px;font-family:楷体">${A1047A}</span></strong>
                </p>
            </td>
        </tr>
        <tr style=";page-break-inside:avoid;height:226px">
            <td width="650" colspan="13" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:left">
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">我司确认：</span></strong>
                </p>
                <p style="margin-left:48px;text-align:left">
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">1、<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span></span></strong><strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">本申请表所填内容真实无误。</span></strong>
                </p>
                <p style="margin-left:48px;text-align:left">
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">2、<span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span></span></strong><strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">我司为申请中金汇理国际保理所提供的所有文件资料均真实、完整、有效。</span></strong>
                </p>
                <p style="text-align:left">
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">&nbsp;</span></strong>
                </p>
                <p style="text-align:left">
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">&nbsp;</span></strong>
                </p>
                <p style="text-align:center">
                    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </span></strong><strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">企业公章：</span></strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="92" style="border:none"></td>
            <td width="35" style="border:none"></td>
            <td width="83" style="border:none"></td>
            <td width="146" style="border:none"></td>
            <td width="8" style="border:none"></td>
            <td width="59" style="border:none"></td>
            <td width="12" style="border:none"></td>
            <td width="118" style="border:none"></td>
            <td width="31" style="border:none"></td>
            <td width="10" style="border:none"></td>
            <td width="17" style="border:none"></td>
            <td width="65" style="border:none"></td>
            <td width="135" style="border:none"></td>
        </tr>
    </tbody>
</table>
<p>
    <strong><span style="font-family:&#39;微软雅黑&#39;,sans-serif">业务人员：__________&nbsp;&nbsp;&nbsp;&nbsp; 业务部门负责人： _____________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 填表时间：____________</span></strong>
</p>
<p>
    <br/>
</p>